#Tipe_Masakan img{
    height: 300px;
}

.carousel-item img {
        width: 100%;
        height: 400px;
        object-fit: cover;
 }
.carousel {
    height: 400px;
}
.informasi {
    height: 30rem;
}
